/* Importing the "Poppins" font with various weights for usage in the application */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Import the base, components, and utilities styles from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the entire application */
* {
  margin: 0;                 /* Remove default margins */
  padding: 0;                /* Remove default paddings */
  box-sizing: border-box;    /* Use border-box box-sizing to include padding and border in element's total width and height */
  font-family: "Poppins", sans-serif;   /* Set the default font-family to "Poppins" */
  scroll-behavior: smooth;   /* Enable smooth scrolling for the entire application */
  color-scheme: dark;        /* Enable dark mode color scheme (if supported by the browser) */
}

/* Class to create a hash span with a negative top margin and bottom padding */
.hash-span {
  margin-top: -100px;        /* Negative top margin to adjust the positioning */
  padding-bottom: 100px;     /* Bottom padding to create space for the content */
  display: block;            /* Display as a block element */
}

/* Class to create a black gradient background */
.black-gradient {
  background: #000000;                          /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );                                            /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );                                            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Class to create a violet gradient background */
.violet-gradient {
  background: #804dee;                          /* Solid background color */
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);   /* Gradient background */
  background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

/* Class to create a green-pink gradient background */
.green-pink-gradient {
  background: "#00cea8";                        /* Incorrectly specified color - should remove the quotes around the color value */
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);            /* Gradient background */
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

/* Class to apply an orange gradient text effect */
.orange-text-gradient {
  background: #f12711;                          /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  );                                            /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  );                                            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;                /* Clip the background to the text */
  -webkit-text-fill-color: transparent;         /* Make the text transparent */
}

/* Class to apply a green gradient text effect */
.green-text-gradient {
  background: #11998e;                          /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  );                                            /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  );                                            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;                /* Clip the background to the text */
  -webkit-text-fill-color: transparent;         /* Make the text transparent */
}

/* Class to apply a blue gradient text effect */
.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;                         /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );                                           /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );                                           /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;               /* Clip the background to the text */
  -webkit-text-fill-color: transparent;        /* Make the text transparent */
}

/* Class to apply a pink gradient text effect */
.pink-text-gradient {
  background: #ec008c;                         /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  );                                           /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  );                                           /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;               /* Clip the background to the text */
  -webkit-text-fill-color: transparent;        /* Make the text transparent */
}

/* Styles for the canvas loader animation */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;     /* Apply the spinning animation to the loader */
  transform: translateZ(0);                    /* Create a new 3D rendering context for smoother animations */
}

/* Keyframes for the spinning animation of the canvas loader */
@keyframes mulShdSpin {
  /* ... Keyframes animation rules for the canvas loader ... */
}
